// =============================================
//                Navigation
//          Last Updated:2013-12-19
// =============================================


%navigation {
  @extend %relative;
  @include _clear;
  background: $nav-color;
  color: $nav-text;
  border: $border-thickness $border-style $nav-border-color;
  @include rounded($default-radius);

  &:before {
    position: absolute;
    float: left;
    display: inline-block;
    content: attr(title);
    font-weight: bold;
    line-height: 1.5;
    padding: 0.25em 0.5em;
  }
}

%navigation-list {
  @extend %unstyled, %zero, %clear;
  display: none;

  &[aria-expanded="true"] {
    display: block;
  }
}

%navigation-list-item {
  @extend %block, %relative;

  %navigation-list-item {
    %navigation-link {
      text-indent: $gutter;
    }
    %navigation-list-item {
      %navigation-link {
        text-indent: ($gutter*2);
      }
    }
  }
}

%navigation-link {
  @extend %inline-block, %strong, %align-left;
  display: block;
  width: 100%;
  height: auto;
  background: $nav-color;
  color: $nav-text;
  cursor: pointer;
  padding: 0.25em 1em;
  text-decoration: none;
  cursor: pointer;
  line-height: 1.5;
  white-space: nowrap;
  border: 0;
  border-top: $border-thickness $border-style $nav-border-color;
  @include rounded(0);
  &:hover, &:focus {
    @extend %navigation-link-active;
  }

}

%navigation-link-on, %navigation-link-active {
  background: $nav-active;
  color: $nav-active-text;
  text-decoration: none;
}

%navigation-link-disabled  { @include state(disabled,normal,desaturate($nav-color,20%)); }

%hamburger-button {
  @extend %pull-right;
  display: inline-block;
  width: auto;
  background: none;
  color: $nav-active-text;
  border: 0;
  &:hover, &:focus {
    background: none !important;
  }
  &:before {
    @include icon-FontAwesome();
    content: $icon-list;
  }
  &[aria-expanded="true"] {
    &:before {
      content: $icon-collapse-top;
    }
  }

}

%navigation-menu {
  display: none;
  z-index: 9;
  min-width: 100%;
  font-size: 0.9em;
  @include rounded(0 0 $default-radius $default-radius);
}

@for $i from 1 through length($modifier-name) {
  %navigation-#{nth($modifier-name, $i)},
  %navigation-menu-#{nth($modifier-name, $i)} {
    background-color: #{nth($modifier-code, $i)};
    color: #{nth($modifier-text, $i)};
    border-color: darken(nth($modifier-code, $i), 5%);
  }
  %navigation-link-#{nth($modifier-name, $i)} {
    background-color: #{nth($modifier-code, $i)};
    color: #{nth($modifier-text, $i)};
    border-color: darken(nth($modifier-code, $i), 5%);
    &.active, &:hover, &:focus {
      background: darken(nth($modifier-code, $i), 5%);
      border-color: darken(nth($modifier-code, $i), 10%);
    }
    &.disabled {
      @include state(disabled,normal,desaturate(nth($modifier-code, $i),20%));
    }
  }
}

@if $navigation-classes {
  .no-js {
    .nav {
      ul {
        li {
          &:hover, &:focus {
            > ul {
              display: block;
            }
          }
        }
      }
    }
  }
  .nav {
    @extend %navigation;

    button.hamburger {
      @extend %hamburger-button;
    }

    // modifier colors
    @for $i from 1 through length($modifier-name) {
      &.#{nth($modifier-name, $i)} {
        @extend %navigation-#{nth($modifier-name, $i)};
        button.hamburger {
          color: #{nth($modifier-text, $i)}
        }
        li[role="menu"] {
          ul {
            @extend %navigation-menu-#{nth($modifier-name, $i)};
            a, button {
              @extend %navigation-link-#{nth($modifier-name, $i)};
            }
          }
          &[aria-expanded="true"] {
            > a, > button {
              background: darken(nth($modifier-code, $i), 5%);
              border-color: darken(nth($modifier-code, $i), 10%);
              color: nth($modifier-text, $i)
            }
          }
        }
        a, button {
          @extend %navigation-link-#{nth($modifier-name, $i)};
          color: nth($modifier-text, $i);
        }
      }
    }

    > ul {
      border: none;
    }
    ul {
      @extend %navigation-list;
    }

    li {
      @extend %navigation-list-item;

      &[role="menu"] {
        > a, > button {
          &:after {
            margin-left: 0.5em;
            content: $icon-caret-down;
            font-family: FontAwesome;
            font-weight: normal;
            font-style: normal;
            text-decoration: inherit;
            -webkit-font-smoothing: antialiased;
            line-height: 1em;
          }
        }
        &[aria-pressed="true"] {
          > a, > button {
            &:after {
              content: $icon-caret-up;
            }
          }
        }
        &[aria-expanded="true"] {
          > a, > button {
            @extend %navigation-link-active;
          }
        }
      }

      ul {
        @extend %navigation-menu;
        > li {
          &:first-child {
            > a, > button {
            }
          }
        }
        a, button {
          @extend %align-left;
          display: block;
          width: 100%;
        }
      }

      li {
        float: none;
        &:last-child {
          a, button {
            @include rounded(0 0 $default-radius $default-radius);
          }
        }

        ul {
          top: -#{$border-thickness};
          left: 100%;
          min-width: none;
          font-size: 1em;
          @include rounded(0 $default-radius $default-radius $default-radius);

          li {
            &:first-child {
              a, button {
                @include rounded(0 $default-radius 0 0);
              }
            }
            &:last-child {
              a, button {
                @include rounded(0 0 $default-radius $default-radius);
              }
            }
          }
        }
      }
    }
    ul[aria-expanded="true"] {
      display: block;
    }

    a, button {
      @extend %navigation-link;
      @for $i from 1 through length($navigation-states) {
        &.#{nth($navigation-states, $i)} {
          @extend %navigation-link-#{nth($navigation-states, $i)};
        }
      }
    }
  }
}

@if $aria-selectors {
  [role~="navigation"] {
    @extend %navigation;
  }
}
